@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EEF1F9;
  transition: background-color 1s ease;
}

body.dark {
  background-color: #1F1F1F;
  transition: background-color 1s ease;
}



.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: italic;
  color: black; /* Color de texto por defecto */
}

.dark .montserrat {
  color: white; /* Color de texto en modo oscuro */
}

.textc {
  color: black; /* Color de texto por defecto */
}

.dark .textc {
  color: white; /* Color de texto en modo oscuro */
}

.bg {
  background-color: #FFFFFF; /* Color de fondo por defecto */
  color: black; /* Color de texto por defecto */
}

.dark.bg {
  background-color: #1F1F1F; /* Color de fondo en modo oscuro */
  color: white; /* Color de texto en modo oscuro */
}

.bordercolor {
  border-color: #A5A5FD;
  border: 2pt;
}

.dark .bordercolor {
  border-color: #838383; /* Color de borde en modo oscuro */
}
